html, body {
    overflow-x: hidden;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('fonts/ProximaNova-Regular.woff') format('woff'),
        url('fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('fonts/ProximaNova-Bold.woff') format('woff'),
        url('fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-dark: #272726;
    --color-blue: #00557B;
    --color-green: #016554;
    --color-green-light: #CBE0DD;
    --color-orange: #ED6E1F;
    --color-orange-light: #FBDBC7;
    --color-grey: #E8E3DA;
    --color-light: #F7F4F0;    
}

body {
    font-size: 18px;
    font-family: 'Proxima Nova';
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: inline-block;
}

.container {
    max-width: 1060px;
}

@media screen and (max-width: 767px) {
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        --bs-gutter-x: 3.8rem;
    }
}

/* Typography */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
    margin: 0;
}

h2, .h2 {
    font-size: 2.5rem;
}

h3, .h3 {
    font-size: 2.25rem;
}

h4, .h4 {
    font-size: 1.75rem;
}

h5, .h5 {
    font-size: 1.5rem;
}

h6, .h6 {
    font-size: 1.25rem;
}

/* Typography End */

/* Buttons */

.btn {
    --bs-btn-color: #fff;
    --bs-btn-hover-color: var(--color-orange);
    --bs-btn-bg: var(--color-orange);
    --bs-btn-border-color: var(--color-orange);
    --bs-btn-hover-bg: var(--color-orange-light);
    --bs-btn-hover-border-color: var(--color-orange-light);
    --bs-btn-font-size: 18px;
    --bs-btn-line-height: 20px;
    --bs-btn-padding-x: 20px;
    --bs-btn-padding-y: 10px;
    --bs-btn-border-radius: 40px;
    --bs-btn-font-weight: bold;
    --bs-border-width: 2px;    
}

.btn-orange-outline {
    --bs-btn-color: var(--color-orange);
    --bs-btn-hover-color: var(--color-orange);
    --bs-btn-bg: transparent;
    --bs-btn-hover-bg: var(--color-orange-light);
    --bs-btn-border-color: var(--color-orange);
    --bs-btn-hover-border-color: var(--color-orange-light);   
}

.btn-green {
    --bs-btn-color: #fff;
    --bs-btn-hover-color: var(--color-green);
    --bs-btn-bg: var(--color-green);
    --bs-btn-hover-bg: var(--color-green-light);
    --bs-btn-border-color: var(--color-green);
    --bs-btn-hover-border-color: var(--color-green-light);   
}

.btn-green-outline {
    --bs-btn-color: var(--color-green);
    --bs-btn-hover-color: var(--color-green);
    --bs-btn-bg: transparent;
    --bs-btn-hover-bg: var(--color-green-light);
    --bs-btn-border-color: var(--color-green);
    --bs-btn-hover-border-color: var(--color-green-light);   
}

/* Buttons End */

/* Site Header */

.site-header {
    background: rgb(0 0 0 / 80%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 20px 0;
}

.site-header .nav-link {
    --bs-nav-link-color: #fff;
    --bs-nav-link-hover-color: #fff;
    --bs-navbar-active-color: #fff;
    --bs-nav-link-font-size: 15px;
    --bs-navbar-nav-link-padding-x: 20px;
    --bs-nav-link-padding-y: 0;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.site-header .nav-link:before {
    content: "";
    height: 1px;
    background: var(--color-orange);
    position: absolute;
    bottom: 0;
    width: 0;
    left: 20px;
    transition: all 0.3s ease-in-out;
}

.site-header .nav-link:hover:before {
    width: calc(100% - 40px);
} 

.header-btns {
    margin-bottom: 20px;
}

.header-btns .btn {
    --bs-btn-font-size: 14px;
    --bs-btn-line-height: 16px;
}

.header-btns .btn.btn-orange-outline {
    --bs-btn-color: #fff;
}

.site-header .navbar-nav .dropdown-menu {
    --bs-dropdown-font-size: 15px;
    left: -100%;
    padding: 28px 0 0;
    border: 0;
    background: transparent;
    min-width: 24rem;
    
}

.site-header .dropdown-menu ul.inner-dropdown {
    list-style: none;
    padding: 24px 16px;
    margin: 0;
    background: #E8E3DA;
    border-radius: 0;
}

.site-header .dropdown-menu ul.inner-dropdown a:hover {
    background-color: transparent;
}

.site-header .inner-dropdown .dropdown-heading {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-green);
    display: block;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
}
.site-header .dropdown-menu ul.inner-dropdown > *:not(:last-child) {
    margin-bottom: 15px;
}
.site-header .inner-dropdown  .dropdown-child {
    display: flex
    ;
    font-size: 12px;
    line-height: 15px;
    position: relative;
    gap: 10px;
    text-wrap: wrap;
}
.site-header .inner-dropdown  .dropdown-child:before {
    content:'>';
}


@media screen and (max-width: 990px) {
    .site-header .navbar-toggler {
        border: 0;
        background: transparent;
        width: auto;
        height: 100%;
    }
    .site-header .collapse:not(.show) {
        display: none !important;
    }
    .site-header .navbar-collapse {
        display: flex
        ;
        max-height: 80vh;
        overflow: auto;
    }
    .site-header .nav-drawer svg {
        width: 100%;
        height: 100%;
        color: #ed6e1f;
    }
    .site-header .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }
    .site-header .nav-drawer {
        --bs-navbar-toggler-padding-x: 12px
    }
    .site-header .nav-drawer a.icon {
        width: auto;
        height: 100%;
        padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    }
    .site-header .header-btns {
        margin-top: 10px;
        margin-bottom: 0px;
        order: 2;
        justify-content: center;
    }
    .site-header ul.navbar-nav {
        width: 100%;
    }
    .site-header .nav-link {
        padding: 8px 0;
    }
    .site-header li.nav-item:not(:last-child) {
        border-bottom: 1px solid #fff;
        margin-bottom: 4px;
    }
    .site-header .nav-link:before {
        content: none;
    }
    .site-header .navbar-nav .dropdown-menu {
        padding: 0;
        min-width: 100%;
    }
    .site-header .dropdown-menu ul.inner-dropdown {
        padding: 0px 12px 24px;
        background: transparent;
    }
    .site-header .navbar-nav .dropdown-item {
        color: #fff;
        padding-left: 0;
        padding-right: 0;
    }
    .site-header .navbar-nav .dropdown-divider {
        --bs-dropdown-divider-bg: #fff; 
    }
    .site-header .dropdown-menu ul.inner-dropdown > *:not(:last-child) {
        margin-bottom: 4px;
    }
}
@media screen and (max-width: 767px) {
    .site-header {
        padding: 8px 0;
    }
    .site-header a.navbar-brand {
        max-width: 150px;
    }
    .site-header .nav-drawer {
        --bs-navbar-toggler-padding-x: 8px
    }
}
@media screen and (max-width: 450px) {
    .site-header .header-btns {
        flex-direction: column;
    }
}


/* Site Header End */

/* Site Footer */

.site-footer {
    padding: 80px 0 30px;
    background-color: #EEE8E0;
    color: #272726;
}
.site-footer .footer-copyright {
    margin-top: 80px;
    border-top: 1px solid #C1B5A2;
}
.site-footer .footer-copyright p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 0;
}
.site-footer .footer-main {
    align-items: flex-start;    
    justify-content: space-between;
    gap: 140px;
}
.site-footer .footer-main .menu-list {
    list-style: none;
    padding: 0;
    justify-content: space-between;
    gap: 60px;
    width: 100%;
}
.site-footer .footer-main .menu-list a.link {
    display: block;
    font-size: 16px;
    margin-bottom: 28px;
}
.site-footer .footer-main .social-link {
    align-items: center;
    gap: 16px;
}
.site-footer .footer-main .social-link .icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #016554;
    display: flex;
    align-items: center;
    justify-content: center;
}
.site-footer .footer-main .social-link .icon svg {
    width: 20px;
    height: 22px;
}

@media screen and (max-width: 767px) {
    .site-footer .footer-main .menu-list {
        flex-direction: column;
        gap: 0px !important;
    }
    .site-footer .footer-copyright {
        margin-top: 40px;
        border-top: 0;
    }
}


/* Site Footer End */


/* Home Page */

/* Slider */
.home-slider {
    --swiper-navigation-size: 24px;
    --swiper-theme-color: #ffffff;
}

.home-slider img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.home-slide-content {
    height: 100%;
    padding-bottom: 70px;
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 30%,rgba(0,0,0,1) 110%);
}

.home-slide-content h1 {
    font-weight: normal;
    color: #fff;
}

.home-slide-content p {
    color: #fff;
}

.home-slide-content-inner {
    max-width: 600px;
}

.home-slider-nav {
    position: absolute;
    right: 60px;
    bottom: 60px;
    width: 125px;
}

.home-slider .swiper-button-next, 
.home-slider .swiper-button-prev {
    width: 45px;
    height: 45px;
    border: 3px solid currentColor;
}

@media screen and (max-width: 767px) {
    .home-slider img {
        height: 520px;
    }
    .home-slider .home-slide-content {
        padding-bottom: 80px;
    }
    .hero__swiper .swiper-pagination {
        position: absolute;
        bottom: 46px;
        justify-content: center;
    }
    .hero__swiper .swiper-pagination-bullet {
        background: transparent;
        border: 1px solid #fff;
    } 
    .hero__swiper .swiper-pagination-bullet-active {
        background: #fff;
    }
    .home-slide-content h1 {
        font-size: 42px;
    }
    .home-slide-content p {
        font-size: 15px;
    }
}

/* Rich Text Box */

.rich-text-box {
    padding: 60px 0;
}

.rich-text-box h2 {
    color: var(--color-green);
    font-weight: normal;
}

/* Image Boxes */

.image-boxes {
    color: #272726;
    background-color: #EEE8E0;
    padding: 70px 0;
}

.image-boxes.with-border {
    border-top: 23px solid #DDD1C0;
}

.image-boxes .row {
    --bs-gutter-x: 80px;
}

.image-box {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.image-box-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-boxes img {
    margin-bottom: 24px;
}

.image-boxes h3 {
    color: #919481;
}

.image-box-content > *:not(:last-child) {
    margin-bottom: 20px;
}

@media screen and (max-width: 767px){
.image-boxes a.btn {
    margin-top: 30px;
    min-width: 260px;
}
}


/* Image Text Box */

.image-with-text-box {
    padding: 120px 0;
    background-color: #fff;
    color: #272726;
}

.image-with-text-box .media {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.16);
}

.image-with-text-box h2 {
    color: var(--color-green);
}

.image-with-text-box h5 {
    margin-bottom: 18px
}

.image-with-text-box a.btn {
    margin-top: 30px;
    max-width: 260px;
}

.image-with-text-box img.image-badge {
    top: -50px;
    right: -60px;
    width: 190px;
    height: auto;
}

@media screen and (min-width: 768px) {
    
    .image-with-text-box .row {
        --bs-gutter-x: 100px;
    }

    .image-with-text-box .row + .row {
        margin-top: 100px;
    }
}

@media screen and (max-width: 767px) {
    .image-with-text-box {
        padding: 60px 0;
    }
    .image-with-text-box .row + .row {
        margin-top: 60px;
    }
    .image-with-text-box img.image-badge {
        top: -40px;
        right: -28px;
        width: 120px;
    }
}

/* Logo List */

.logo_list-box {
    padding: 60px 0;
    background-color: #F7F4F0;
    color: #919481;
}

.logo-item {
    text-align: center
}

.logo_list-box img {
    mix-blend-mode: multiply;
    object-fit: contain;
    max-width: 80%;
}

@media screen and (max-width: 767px) {
    .logo_list-box {
        padding: 40px 0;
    }

    .logo_list-box .list-grid {
        animation: scrolling-left 20s linear infinite;
    }

    .logo-item {
        width: 250px;
        flex: 1 0 250px;
    }

    .logo_list-box img {
        max-height: 90px;
    }
}

@keyframes scrolling-left {
    0% {
      transform: translate3d(calc(-100% * var(--transform-logical)), 0, 0);
      visibility: visible;
    }
  
    100% {
      transform: translate3d(calc(-200% * var(--transform-logical)), 0, 0);
    }
  }

/* Testimonial Section */

.testimonial-section {
    position: relative;
    padding: 120px 0;
    background-image: url('assets/TestimonailBG.jpg');
    background-position: center center;
    background-size: cover;
    color: #fff;
}
.testimonial-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #505050;
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.testimonial-section .container {
    position: relative;
}
.testimonial-section h2 {
    color: #DDD1C0;
    text-transform: uppercase;
}
.testimonial-section .swiper-inner {
    max-width: 65%;
    margin: 0 auto;
    padding: 0 40px;
}
.testimonial-section .swiper-button {
    width: 40px;
    height: 40px;
}
.testimonial-section .swiper-button:after {
    content: none;
}
.testimonial-section .swiper-pagination {
    position: relative;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.testimonial-section .swiper-pagination .swiper-pagination-bullet {
    border: 1px solid #DDD1C0;
    background: transparent;
    width: 12px;
    height: 12px;
    margin: 30px 0 0;
}
.testimonial-section .swiper-pagination .swiper-pagination-bullet-active {
    background: #DDD1C0;
}
.testimonial-section a.btn {
    margin-top: 40px;
}

@media screen and (max-width: 767px) {
    .testimonial-section {
        padding: 90px 0;
    }
    .testimonial-section .swiper-inner {
        max-width: 100%;
        margin: 0 auto;
        padding: 0;
    }
}

/* RICHTEXT WITH ICON LIST  */

.richtext-icon-box {
    position: relative;
    padding: 80px 0;
    background: var(--color-blue);
    color: #fff;
 }

 .richtext-icon-box .icon_list {
    list-style: none;
    margin: 30px 0 50px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    position: relative;
    z-index: 1;
}

.richtext-icon-box .icon_list li:not(:last-child)::before {
    content: "";
    border-bottom: 3px dashed rgb(255 255 255 / 30%);
    position: absolute;
    left: auto;
    width: 100%;
    height: auto;
    top: 40px;
    right: -80px;
    z-index: -1;
}

.richtext-icon-box .list-item {
    width: 100%;
    position: relative;
}

.richtext-icon-box .list-item .frame {
    width: 85px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 50%;
    background: #016554;
    margin: 0 auto 30px;
    flex-shrink: 0;
}


.richtext-icon-box .btn {
        max-width: 260px;
    }

@media screen and (max-width: 767px) {

    .richtext-icon-box {
        padding: 60px 0;
    }

    .richtext-icon-box .h3 {
        font-size: 1.75rem;
    }

    .richtext-icon-box p.w-75.mx-auto {
        width: 100% !important;
    }
    .richtext-icon-box .icon_list li:not(:last-child)::before {
        content: "";
        border-bottom: 0;
        border-left: 3px dashed rgb(255 255 255 / 30%);
        position: absolute;
        left: 28px;
        width: 3px;
        height: 100%;
        top: 40px;
        right: auto;
        z-index: -1;
    }
    .richtext-icon-box .icon_list {
        gap: 30px;
        flex-direction: column;
    }
    .richtext-icon-box .list-item {
        width: 100%;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: flex-start;
    }
    .richtext-icon-box .list-item .frame {
        width: 60px;
        height: 60px;
        margin: 0;
    }
    .richtext-icon-box a.btn.btn-primary.d-block.mx-auto.mx-md-0 {
        margin-top: 30px;
        max-width: 260px;
    }
}

/* Image Boxes */
@media screen and (max-width: 767px) {
    .image-boxes .row.image-box-containers {
        display: flex;
        gap: 70px;
    }
}

/* Gallery */

.gallery .gallery-thumbnails {
    padding-top: 40px;
    padding-bottom: 40px;
}
.gallery img.banner {
    width: 100%;
    max-height: 90vh;
    object-fit: cover;
}
.gallery .thumbnail {
    height: auto;
}
.gallery .thumbnail img.thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery .swiper-button {
    width: 40px;
    height: 40px;
}
.gallery .swiper-button:after {
    content: none;
}

@media screen and (max-width: 767px) {
    .gallery .gallery-thumbnails {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .gallery .container {
        padding: 0px;
    }
}

/* Home Page End */

